.list-accordion::before {
    display: none;
}

.cheat.list-accordion:first-of-type {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.player-container {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%
}